{% extends "base.html" %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}

    {% if info %}
        <div class="alert alert-info" role="alert">{{ info }}</div>
    {% endif %}

    {% if is_feeding %}
        <p>正在哺乳...</p>
        <a href="/{{ user.username }}/feedings/end/" class="btn btn-success btn-large login_required">结束</a>
    {% else %}
        <a href="/{{ user.username }}/feedings/left/" class="btn btn-warning btn-large login_required">左侧开始</a>
        <a href="/{{ user.username }}/feedings/right/" class="btn btn-warning btn-large login_required">右侧开始</a>
        <a id="manual" class="btn btn-warning btn-large login_required">手喂</a>
    {% endif %}

    <br>
    <br>

    <table id="table">
        <thead>
            <tr>
                <th data-sortable="true">日期</th>
                <th data-sortable="true">位置</th>
                <th data-sortable="true">开始</th>
                <th data-sortable="true">结束</th>
                <th data-sortable="true">持续</th>
            </tr>
        </thead>
        <tbody>
            {% for feeding in feedings %}
                <tr >
                    <td>{{ feeding.begin|date:'Y-m-d' }}</td>
                    <td>{{ feeding.get_position_display }}</td>
                    <td>{{ feeding.begin|time:'H:i' }}</td>
                    <td>{{ feeding.end|time:'H:i' }}</td>
                    <td>
                        <a href="/admin/feeding/feeding/{{ feeding.id }}/change/" class="login_required">
                            {{ feeding.display }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    {% if is_all %}

        <ul class="list-group">
            <li class="list-group-item list-group-item-info">24h 喂食次数：{{ count_24h }}</li>
            <li class="list-group-item list-group-item-info">24h 喂时比率：{{ rate_24h }}%</li>
        </ul>

        <a href="/{{ username }}/feedings/" class="btn btn-warning">简化数据</a>

    {% else %}

        <a href="/{{ username }}/feedings/?is_all=1" class="btn btn-warning">详细数据</a>

    {% endif %}

    <br>
    <br>

    <span class="label label-primary" style="float: right;">{{ user.username }}</span>



{% endblock %}


{% block script %}
    <script>
        $('#table').bootstrapTable();
        $("#feedings").addClass('active');

        $("#manual").click(function () {
            var ml = prompt('输入手喂量(毫升)');
            if(!ml){
                return
            }
            top.location.href = '/{{ user.username }}/feedings/manual/?ml=' + ml;
        });

        $(".login_required").click(function () {
            {% if is_login %}
                return true
            {% else %}
                var password = prompt('请输入管理密钥')
                top.location.href = '/{{ username }}/feedings/login/?password=' + password
                return false
            {% endif %}
        })

        setTimeout(function () {
            top.location.reload()
        }, 30000)

    </script>
{% endblock %}